<!DOCTYPE html>
<html>
  <head>
    <title>Change me</title>
    <script>document.documentElement.className = 'js';</script>
    <style>html.js{display: none}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//code.jquery.com' />
    <link rel='dns-prefetch' href'https://images-eu.ssl-images-amazon.com' />
  </head>
  <body>
    <div class="container">
      <div class="top">
        <header>
          <h1>Sample site</h1>
          <nav>
            <a href="#home">HOME</a>
            <a href="#test-section">SECTION 1</a>
          </nav>
        </header>
      </div>
      <div class="main">
        <section id="test-section" class="anim">
          <h2><span>SECTION 1</span></h2>
          <div class="copy">
            <p>All ready.</p>
          </div>
        </section>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</html>
